@tailwind base;
@tailwind components;
@tailwind utilities;

#signature {
  stroke-dasharray: 765;
  stroke-dashoffset: 765;
  animation: sign 5s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

::-webkit-calendar-picker-indicator {
  @apply bg-washed-teal-alt dark:bg-neon-pink text-gray-700 rounded-lg p-1; 
}